<router-outlet>
    <html>
  
    <head>
      <title>Forget Passward Individual</title>
    </head>
  
    <body>
  
      <div class="containerFP">
        <div class="FPContent ">
          <div class="card border-danger p-5" style="max-width: 400px;">
            <p>Forget Password for Individual</p>
            <div class="mb-3">
              <label for="id" class="form-label">Enter your ID</label>
              <input type="number" class="form-control" id="id" placeholder="Enter 6 numbers">
            </div>
            <div class="mb-3">
              <label for="Npassword" class="form-label">Enter New Password</label>
              <input type="password" class="form-control" id="Npassword" placeholder="*************">
              <label class="sp">Show password</label>
            <input type="checkbox" (click)="showPassword1()"><br>
            </div>
            <div class="mb-3">
              <label for="Npassword2" class="form-label">Enter the New Password again</label>
              <input type="password" class="form-control" id="Npassword2" placeholder="*************">
              <label class="sp">Show password</label>
              <input type="checkbox" (click)="showPassword2()"><br>
           </div>
            <button type="submit"  class="btn btn-danger" (click)="submit()" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
        </div>
      </div>
    </body>
  
    </html>
  </router-outlet>
  