<router-outlet>
    <html>

    <head>
        <title>Edite authority profile</title>
    </head>


    <body>
        <nav class="navbar navbar-expand-lg bg-light shadow px-3 bg-body rounded">
            <div class="container-fluid">
                <a class="navbar-brand text-danger savi" href="#">Savior</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-end px-2" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link " href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accepte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="contentprofile">
            <div class="proContent" style="max-width: 800px;">
                <div class="card p-5 m-2 border border-danger scroll-container">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name">
                          </div>
                          <div class="col-md-6">
                            <label for="tax" class="form-label">Tax registration number</label>
                            <input type="text" placeholder="Enter 9 numbers" class="form-control" id="tax">
                          </div>
                          <div class="col-md-8">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" placeholder="password length must be >= 8" class="form-control" id="password">
                            <label class="sp">Show password</label>
                            <input type="checkbox" (click)="showPassword()"><br>
                          </div>
                          <div class="col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" placeholder="***@gmail.com" class="form-control" id="email">
                          </div>
                          <div class="col-md-6">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" placeholder="Enter 11 numbers" class="form-control" id="phone">
                          </div>
                          <div class="col-8">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                          </div>
                          <div class="col-4">
                            <label for="region" class="form-label">City & Region</label>
                            <select id="region" class="form-select">
                              <optgroup label="Cairo">
                                <option selected>Abbassia</option>
                                <option>Ain Shams</option>
                                <option>Azbakeya</option>
                                <option>Bulaq</option>
                                <option>Daher</option>
                                <option>Al-Darb al-Ahmar</option>
                                <option>El Marg</option>
                                <option>Helwan</option>
                                <option>Mokattam</option>
                              </optgroup>
                              <optgroup label="Giza">
                                <option>Dokki</option>
                                <option>Agouza</option>
                                <option>Bulaq ad Dakrur</option>
                                <option>Imbabah</option>
                                <option>Haram</option>
                                <option>Omrania</option>
                                <option>Monib</option>
                                <option>Kafr Tuhurmus</option>
                                <option>Faisal</option>
                              </optgroup>
                              <optgroup label="Alexandria">
                                <option>Dekhela</option>
                                <option>Amreya</option>
                                <option>Ataren</option>
                                <option>Gomrok</option>
                                <option>Labban</option>
                                <option>Mansheya</option>
                                <option>Montaza</option>
                                <option>El Raml</option>
                                <option>Bab Sharqi</option>
                                <option>Borg El Arab</option>
                                <option>Karmouz</option>
                                <option>Moharam Bek</option>
                                <option>Sidi Gaber</option>
                              </optgroup>
                              <optgroup label="Aswan">
                                <option>Abu Simbel</option>
                                <option>Nasser City</option>
                                <option>Aswan 1</option>
                                <option>Aswan 2</option>
                                <option>Daraw</option>
                                <option>Edfu</option>
                                <option>Kom Ombo</option>
                                <option>New Aswan</option>
                                <option>New Tushka</option>
                              </optgroup>
                              <optgroup label="Luxor">
                                <option>Qurna</option>
                                <option>Armant</option>
                                <option>Esna</option>
                                <option>Tiba</option>
                                <option>Luxor</option>
                              </optgroup>
                              <optgroup label="Sharm El Sheikh">
                                <option>Na'ama Bay</option>
                                <option>Sharks Bay</option>
                                <option>Nabq Bay</option>
                                <option>Ras Um Sid/Hadaba</option>
                                <option>Sharm el-Maya or Old Sharm</option>
                              </optgroup>
                              <optgroup label="Port Said">
                                <option>Al-Ganoub</option>
                                <option>Al-Zohour</option>
                                <option>Al-Dawahy</option>
                                <option>Al-Sharq</option>
                                <option>Al-Manakh</option>
                                <option>Al-Arab</option>
                                <option>Gharb</option>
                              </optgroup>
                              <optgroup label="Suez">
                                <option>Arbaeen</option>
                                <option>Ganayen</option>
                                <option>Suez</option>
                                <option>Attaka</option>
                                <option>Faisal</option>
                                <option>Port Suez Police Department</option>
                              </optgroup>
                              <optgroup label="Al Fayyum">
                                <option>Faiyum</option>
                                <option>Ibsheway</option>
                                <option>Itsa</option>
                                <option>New Faiyum</option>
                                <option>Sinnuris</option>
                                <option>Tamiya</option>
                                <option>Yousef El Seddik</option>
                              </optgroup>
                            </select>
                          </div>
                        <label for="" class="form-label mb-0">Working Hours</label>
                        <div class="col-md-6">
                            <label for="wHourf" class="form-label">From</label>
                            <input type="time" class="form-control" id="wHourf">
                        </div>
                        <div class="col-md-6">
                            <label for="wHourt" class="form-label"> To</label>
                            <input type="time" class="form-control" id="wHourt">
                        </div>
                        <label for="" class="form-label mb-0">Donate/Accepte Time</label>
                        <div class="col-md-6">
                            <label for="dTimeF" class="form-label">From</label>
                            <input type="time" class="form-control" id="dTimeF">
                        </div>
                        <div class="col-md-6">
                            <label for="dTimeT" class="form-label">To</label>
                            <input type="time" class="form-control" id="dTimeT">
                        </div>

        <div>Enter number of existing bags for each blood type:</div>

          <div class="col-md-6">
            <label for="APEBags" class="form-label">A+</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="APEBags">
          </div>

          <div class="col-md-6">
            <label for="ANEBags" class="form-label">A-</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="ANEBags">
          </div>

          <div class="col-md-6">
            <label for="BPEBags" class="form-label">B+</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="BPEBags">
          </div>

          <div class="col-md-6">
            <label for="BNEBags" class="form-label">B-</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="BNEBags">
          </div>

          <div class="col-md-6">
            <label for="ABPEBags" class="form-label">AB+</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="ABPEBags">
          </div>

          <div class="col-md-6">
            <label for="ABNEBags" class="form-label">AB-</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="ABNEBags">
          </div>

          <div class="col-md-6">
            <label for="OPEBags" class="form-label">O+</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="OPEBags">
          </div>

          <div class="col-md-6">
            <label for="ONEBags" class="form-label">O-</label>
            <input type="number" min="0" max="100" value="0" class="form-control" id="ONEBags">
          </div>

                        <div class="col-12">
                            <button type="submit" (click)="NEXT()" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
</router-outlet>
