<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../Helper/Helper.component.css">


    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light shadow px-3 bg-body rounded">
        <div class="container-fluid">
            <a class="navbar-brand text-danger savi" href="#">Savior</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end px-2" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link " href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/profileI">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donation">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Accept</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Q&A</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-helper ">
        <div class="container-fluid p-5 scroll-container">
            <div class="row">
                <div class="badge bg-danger bg-opacity-75 text-wrap col-5 m-2">
                    <p class="fs-5 p-1 rounded text-start">Question: How long does the blood donation process take?</p>
                </div>
                <div class="badge bg-secondary bg-opacity-75 text-wrap col-7 m-2">
                    <p class="fs-5 p-1 rounded text-start">Answer: The whole blood donation process takes between 45 and
                        60 minutes.
                        Whereas blood donation with apheresis (separation of double red blood cell units, platelets and
                        plasma) takes between one and a half and two hours.
                        And the time it takes for a double donation of red blood cells is approximately 30 minutes
                        longer than the time for a whole blood donation</p>
                </div>
                <div class="badge bg-danger bg-opacity-75 text-wrap col-5 m-2">
                    <p class="fs-5 p-1 rounded text-start">Question: How often can I donate blood?</p>
                </div>
                <div class="badge bg-secondary bg-opacity-75 text-wrap col-7 m-2">
                    <p class="fs-5 p-1 rounded text-start">Answer: You can donate whole blood at least every 84 days.
                        Plasma donors can donate every 28 days.
                        Platelet donors can donate every eight days, up to 24 times over a 12-month period.
                        Double red blood cell donors can donate every 168 days</p>
                </div>
                <div class="badge bg-danger bg-opacity-75 text-wrap col-5 m-2">
                    <p class="fs-5 p-1 rounded text-start">Question: At what age can I start donating blood?</p>
                </div>
                <div class="badge bg-secondary bg-opacity-75 text-wrap col-7 m-2">
                    <p class="fs-5 p-1 rounded text-start">Answer: Eligible 16-year-olds can donate blood. Donors must
                        have parental or guardian consent and weigh at least 110 pounds (about 50 kilograms).</p>
                </div>
                <div class="badge bg-danger bg-opacity-75 text-wrap col-5 m-2">
                    <p class="fs-5 p-1 rounded text-start">Question: Can I donate if I have a cold, flu or fever?</p>
                </div>
                <div class="badge bg-secondary bg-opacity-75 text-wrap col-7 m-2">
                    <p class="fs-5 p-1 rounded text-start">Answer: No. To be able to donate, you must be free of cold,
                        flu and fever symptoms on the day of the donation.</p>
                </div>
                <div class="badge bg-danger bg-opacity-75 text-wrap col-5 m-2">
                    <p class="fs-5 p-1 rounded text-start">Question: From whom each blood type receives new blood?</p>
                </div>
                <div class="badge bg-secondary bg-opacity-75 text-wrap col-7 m-2">
                    <p class="fs-5 p-1 rounded text-start">If your blood type is Rh+ positive, you receive from Rh+
                        positive and Rh-negative, taking into account the ABO type.</p>
                    <p class="fs-5 p-1 rounded text-start">If your blood type is Rh-negative, you receive only
                        Rh-negative blood, with regard to the ABO type.</p>
                    <p class="fs-5 p-1 rounded text-start">Blood type A receives only from A and O, taking into account
                        the Rh factor.</p>
                    <p class="fs-5 p-1 rounded text-start">B blood group receives only from B and O, taking into account
                        the Rh factor.</p>
                    <p class="fs-5 p-1 rounded text-start">AB blood type receives all types, taking into account the Rh
                        factor.</p>
                    <p class="fs-5 p-1 rounded text-start">O blood type receives from O only, taking into account the Rh
                        factor.</p>
                    <p class="fs-5 p-1 rounded text-start"> Rh-negative O blood is given to all types of blood groups.
                    </p>
                    <p class="fs-5 p-1 rounded text-start">O-positive blood group is given to all types of Rh-positive
                        blood groups.</p>

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>