/* .content-helper{
    height: 89.5vh;
    background-image: url(../imgs/bell-reminder-notification-alert-alarm-icon-sign-symbol-application-website-ui-white-background-3d-rendering-illustration.jpg);
    background-position: center center;
    background-size: cover;
}
nav{
    font-size: larger;
    position: relative;
    z-index: 9999999999;
    font-size: larger;
}
.savi{
    font-size: xx-large;
    font-weight: 600;
}
.scroll-container{
    height: 80vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
.darkness
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.message-red
{
    position: absolute;
    right: 20px;
}
.message-gray{
    position: absolute;
    left: 20px;
} */
