<html>

<head>
  <title>signUp Authority</title>
</head>

<body>
  <div class="containerSign">
    <div class="signContent ">
      <div class="card border-danger p-5 scroll-container" style="max-width: 700px;">
        <p>Sign Up for Authority</p>
        <div class="row g-3">
          <div class="col-md-4">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-4">
            <label for="tax" class="form-label">Tax registration number</label>
            <input type="text" class="form-control" id="tax">
          </div>
          <div class="col-md-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
            <label class="sp">Show password</label>
            <input type="checkbox" (click)="showPassword()"><br>
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone">
          </div>
          <div class="col-8">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St">
          </div>
          <div class="col-4">
            <label for="region" class="form-label">City & Region</label>
            <select id="region" class="form-select">
              <optgroup label="Cairo">
                <option selected>Abbassia</option>
                <option>Ain Shams</option>
                <option>Azbakeya</option>
                <option>Bulaq</option>
                <option>Daher</option>
                <option>Al-Darb al-Ahmar</option>
                <option>El Marg</option>
                <option>Helwan</option>
                <option>Mokattam</option>
              </optgroup>
              <optgroup label="Giza">
                <option>Dokki</option>
                <option>Agouza</option>
                <option>Bulaq ad Dakrur</option>
                <option>Imbabah</option>
                <option>Haram</option>
                <option>Omrania</option>
                <option>Monib</option>
                <option>Kafr Tuhurmus</option>
                <option>Faisal</option>
              </optgroup>
              <optgroup label="Alexandria">
                <option>Dekhela</option>
                <option>Amreya</option>
                <option>Ataren</option>
                <option>Gomrok</option>
                <option>Labban</option>
                <option>Mansheya</option>
                <option>Montaza</option>
                <option>El Raml</option>
                <option>Bab Sharqi</option>
                <option>Borg El Arab</option>
                <option>Karmouz</option>
                <option>Moharam Bek</option>
                <option>Sidi Gaber</option>
              </optgroup>
              <optgroup label="Aswan">
                <option>Abu Simbel</option>
                <option>Nasser City</option>
                <option>Aswan 1</option>
                <option>Aswan 2</option>
                <option>Daraw</option>
                <option>Edfu</option>
                <option>Kom Ombo</option>
                <option>New Aswan</option>
                <option>New Tushka</option>
              </optgroup>
              <optgroup label="Luxor">
                <option>Qurna</option>
                <option>Armant</option>
                <option>Esna</option>
                <option>Tiba</option>
                <option>Luxor</option>
              </optgroup>
              <optgroup label="Sharm El Sheikh">
                <option>Na'ama Bay</option>
                <option>Sharks Bay</option>
                <option>Nabq Bay</option>
                <option>Ras Um Sid/Hadaba</option>
                <option>Sharm el-Maya or Old Sharm</option>
              </optgroup>
              <optgroup label="Port Said">
                <option>Al-Ganoub</option>
                <option>Al-Zohour</option>
                <option>Al-Dawahy</option>
                <option>Al-Sharq</option>
                <option>Al-Manakh</option>
                <option>Al-Arab</option>
                <option>Gharb</option>
              </optgroup>
              <optgroup label="Suez">
                <option>Arbaeen</option>
                <option>Ganayen</option>
                <option>Suez</option>
                <option>Attaka</option>
                <option>Faisal</option>
                <option>Port Suez Police Department</option>
              </optgroup>
              <optgroup label="Al Fayyum">
                <option>Faiyum</option>
                <option>Ibsheway</option>
                <option>Itsa</option>
                <option>New Faiyum</option>
                <option>Sinnuris</option>
                <option>Tamiya</option>
                <option>Yousef El Seddik</option>
              </optgroup>
            </select>
          </div>
          <label for="" class="form-label mb-0">Working Hours</label>
          <div class="col-md-6">
            <label for="wHourf" class="form-label">From</label>
            <input type="time" class="form-control" id="wHourf">
          </div>
          <div class="col-md-6">
            <label for="wHourt" class="form-label"> To</label>
            <input type="time" class="form-control" id="wHourt">
          </div>
          <label for="" class="form-label mb-0">Donate/Accepte Time</label>
          <div class="col-md-6">
            <label for="dTimeF" class="form-label">From</label>
            <input type="time" class="form-control" id="dTimeF">
          </div>
          <div class="col-md-6">
            <label for="dTimeT" class="form-label">To</label>
            <input type="time" class="form-control" id="dTimeT">
          </div>

          <label for="" class="form-label mb-0">A+</label>
          <div class="col-md-6">
            <label for="APEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="APEBags">
          </div>
          <div class="col-md-6">
            <label for="APNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="APNBags">
          </div>

          <label for="" class="form-label mb-0">A-</label>
          <div class="col-md-6">
            <label for="ANEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ANEBags">
          </div>
          <div class="col-md-6">
            <label for="ANNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ANNBags">
          </div>

          <label for="" class="form-label mb-0">B+</label>
          <div class="col-md-6">
            <label for="BPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="BPEBags">
          </div>
          <div class="col-md-6">
            <label for="BPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="BPNBags">
          </div>

          <label for="" class="form-label mb-0">B-</label>
          <div class="col-md-6">
            <label for="BNEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="BNEBags">
          </div>
          <div class="col-md-6">
            <label for="BNNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="BNNBags">
          </div>

          <label for="" class="form-label mb-0">AB+</label>
          <div class="col-md-6">
            <label for="ABPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ABPEBags">
          </div>
          <div class="col-md-6">
            <label for="ABPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ABPNBags">
          </div>

          <label for="" class="form-label mb-0">AB-</label>
          <div class="col-md-6">
            <label for="ABNEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ABNEBags">
          </div>
          <div class="col-md-6">
            <label for="ABNNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ABNNBags">
          </div>
          
          <label for="" class="form-label mb-0">O+</label>
          <div class="col-md-6">
            <label for="OPEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="OPEBags">
          </div>
          <div class="col-md-6">
            <label for="OPNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="OPNBags">
          </div>

          <label for="" class="form-label mb-0">O-</label>
          <div class="col-md-6">
            <label for="ONEBags" class="form-label">Existing bags:</label>
            <input type="number" class="form-control" id="ONEBags">
          </div>
          <div class="col-md-6">
            <label for="ONNBags" class="form-label">Neaded bags:</label>
            <input type="number" class="form-control" id="ONNBags">
          </div>

          <div class="col-12">
            <button type="submit" (click)="NEXT()" class="btn btn-danger" style="max-width: 100px;" id="btnSubmit">Submit</button>
          </div>
          <!-- <button type="button" class="btn btn-link btn-go" routerLink="/signInI" routerLinkActive="active">sign in for individual</button>
          <button type="button" class="btn btn-link btn-go" routerLink="/signUpI" routerLinkActive="active">sign up for individual</button> -->
        </div>
      </div>
    </div>
  </div>


</body>

</html>

