nav{
    font-size: larger;
}
.savi{
    font-size: xx-large;
    font-weight: 600;
}
.containerDon{
    height: 89.5vh;
    background-image: url(../imgs/world-blood-donor-day-creative-collage.jpg);
    background-position: center center;
    background-size: cover;
}
.proContent
{
    position: relative;
    z-index: 4;
    top: 280px;
    text-align: center;
    color: #dc3545;
    font-size: 50px;
    font-weight: 500;   
}